@use '../base/variables' as v;
@use '../base/mixins' as m;


.barra {

    display: block;
    border-bottom: solid 10px v.$blanco;

    &.bg-grisOscuro {

        background-color: v.$grisOscuro;
    }

    
    max-width: auto;
    
    &__contenedor {
        @include m.contenedor-hg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__principal {

        display: flex;
        align-items: center;
        gap: 4rem;
        

        img {
            margin: 0;
            max-width: 20rem;
            margin: 0;
        }

        nav {

            .menu--principal--activo {
                color: v.$amarillo;
            }
            a {
                @include m.enlace;
                font-size: 2rem;
                font-weight: 900;
                padding: 1rem;
               
            }

        }
        
        
        
        
        
    }


    .barra__menu--redes {

        @include m.menu-social(v.$blanco, 3.3rem);
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 4rem 0;
        @include m.tablet {
            justify-content: flex-end;
        }
    }
}

.header {
    
    background-color: v.$azul;
    padding-bottom: 14rem;

    &__contenedor {
        @include m.contenedor-hg;
    }

    &__perfil {
        display: grid;
        grid-template-columns: 25% 75%;
        
    }

    &__imagen {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            margin: 16rem 0rem 2rem -2rem;
            max-width: 30rem;
            border-radius: 40%;
        }

        color: v.$blanco;
        margin-top: 1rem;
        font-size: 2rem;

    }

    &__informacion {
        color: v.$blanco;
        line-height: 1.5;
        margin-top: 10rem;

        p {
            font-size: 2.3rem;
        }
    }

    &__sobreMi {
        color: v.$amarillo;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 6rem;
        font-style: normal;
        text-align: left;
        
    }
}